<% content_for :script do %>	
	<script>

		// returns the number of day cards currently in the trip
		function numDays () {
			//return parseInt($('#days .day-card').last().data('itemnum'));
			return <%= @trip.days.count %>;
		}
		
		$(document).ready(function() {
			var startDate = '<%= @trip.startdate %>'; //keeps track of the trip startDate when day cards get reordered
			//enables day card reordering via drag and drop, and reorders dates as needed
			$(function() {
			    $( "#days" ).sortable({
				  items: '.day-card-wrapper',
				  start: function( event, ui ) {
					// remember original startdate before sort in case first day gets reordered
					startDate = getCurrentStartDate();
				},
				  stop: function( event, ui ) {
					//only update dates upon reorder if there is a valid startDate set					
					if (startDate) { 
						updateDates(startDate);
						
						//reset the startDate variable so an outdated one never gets used
						startDate = null; 
						
						//update position in db
						var sortedIDs = $( "#days" ).sortable( "toArray", 'data-dayID' );
						var newPos = sortedIDs.indexOf(ui.item.attr('id'))+1;
						var dayID = ui.item.attr('data-dayID');
						//send newPos to server
						$.ajax({
							url: '<%= update_position_path %>',
							type: 'post',
							//data: {'trip' : { 'startdate' : d }}
							data: { 'pk' : dayID, 'newPos' : newPos},
						});
						
					} 
					else {
						// in this case, startDate var isn't set, so make sure nothing appears in date fields
						$('.day-date').empty(); 
						
						//move the default date to the first day in the trip
						$('.day-date:first').html("Today"); 
					}
					
					//move the datepicker to the first day in the trip
					$('.day-date-wrapper:first').append($('#startDatepicker')); 
				  }
				});
			    $( "#days" ).disableSelection();
			  });
			
			//creates a new day column upon click of Add Day button
			$('#addDayButton')
				.click(function() {
					$.ajax({
						url: '<%= days_path %>',
						type: 'post',
						//data: {'trip' : { 'startdate' : d }}
						//data: { 'name' : 'startdate', 'value' : d }
						success: function(data, textStatus, jqXHR) {
							var d = addDayCard(data.id);
						}
					});
			});
			
			updateDates(startDate); //load and set existing dates
			
			//initiates the datepicker above the first card for the start date
			//when user changes trip start date, dates for all days in the trip get updated
			//$('#startDatepicker').datepicker('setDate', new Date(startDate));
			//$('#startDatepicker').datepicker('update')
			$('#startDatepicker').datetimepicker({ 
				autoclose : true,
				minView : 'month',
				maxView : 'month',
				todayBtn : 'linked',
				initialDate : startDate ? new Date(startDate) : new Date()
			})
				.on('changeDate', function(ev) {
					var d = new Date(ev.date);
					updateDates(d);
					//send request to update startdate of trip
					$.ajax({
						url: '<%= trip_path @trip %>',
						type: 'put',
						//data: {'trip' : { 'startdate' : d }}
						data: { 'name' : 'startdate', 'value' : d }
					});
			});
				
			//turn editability to inline mode
			$.fn.editable.defaults.mode = 'inline';
			
			//turn on inline editing for all cities in day cards
			enableInlineEditingForAllDays();

			//turn on inline editing for trip name
			$('#tripname').editable({
				type: 'text',
				name: 'tripname',
				pk: <%= @trip.id %>,
				url: '<%= trip_path @trip %>',
				ajaxOptions: {
					type: 'put',
					dataType: 'json'
				},
				emptytext: "My Awesome Trip"
			})
				.on('hidden', function() {
					$('.edit-tripname').show();
				})
				.on('shown', function() {
					$('.edit-tripname').hide();					
				});
			
			//turn on listener for delete day card
			$('.card .close')
				.click(function() {
					var dayCard =$(this).parents('.day-card-wrapper'); 
					var dayID = $(dayCard).attr('data-dayID');
					$.ajax({
						url: '<%= day_path %>',
						type: 'delete',
						dataType: 'json',
						//data: {'trip' : { 'startdate' : d }}
						data: { 'pk' : dayID },
						success: function(data, textStatus, jqXHR) {
							//removeDay();
							$(dayCard).detach(); 
						}
					//alert($(this).parents('.day-card-wrapper').attr('data-dayID'));
				});
			});
			$('.edit-tripname').click(function(e){    
			       e.stopPropagation();
			       $('#tripname').editable('toggle');
			});
		});
	</script>
<% end %>

<div class="tripname-wrapper">
	<h4 id="tripname"><%= @trip.tripname %></h4><i class="edit-tripname fa fa-pencil-square"></i>
</div>

<div id="days">
	
	<%= render(partial: "shared/day", collection: @trip.days) %>
	<button id="addDayButton" class='btn btn-info btn-lg'>Add Day</button>
	
</div>
