<div class='day-card-wrapper' id='day_<%= day.id %>' data-dayID='<%= day.id %>'>
	 <div class="day-date-wrapper">
		<span class="day-date"></span>
		<% if day_counter == 0 %>
			<span class="fa fa-calendar" id="startDatepicker"></span>
		<% end %>
	 </div>
	 <div class="card day-card">
		<i class="fa fa-times-circle close"></i>
		<div class="city-wrapper">
			<h4 class="city"><%= day.city %></h4>
		</div>
		<div class="notes-wrapper">
			<small><p class="notes" data-rows='4'><%= day.notes %></p></small>
		</div>
		<div class="hotel-wrapper">
			<p class="hotel"><%= day.hotel %></p>
		</div>
	 </div>
</div>